@import 'compass/utilities'

body
  color: #000
  font-size: 14px
  font-family: Verdana, Tahoma, sans-serif
  background-color: #fff
  line-height: 1.5
  padding: 20px

  h1
    font-size: 20px
    font-weight: normal

  h2
    font-size: 18px
    font-weight: normal

  h1, h2, p, ul, ol
    margin-bottom: 10px

  a
    color: #005fab
    outline: none

    &:hover
      text-decoration: none

  ol
    counter-reset: list
    margin: 20px 0

    li
      +clearfix
      position: relative
      margin: 15px 0

      &:before
        position: absolute
        counter-increment: list
        content: counter(list) '.'

      div
        margin-left: 35px

  table
    th, td
      vertical-align: top
      border: 1px solid #999
      padding: 10px

    th
      background-color: #f5f5f5

  .need_collapser
    .collapsible
      display: none

  .error
    color: #990000
