<p>
  <%= link_to 'изменить', edit_manage_opendata_dataset_path(@dataset) %>
  <%= link_to 'вернуться к наборам открытых данных', manage_opendata_path %>
</p>

<%= render :partial => '/dataset/table', :locals => { :dataset => @dataset } %>
