<%# object.items.shift %>
<% if object.items.any? %>
  <ul class='employees'>
    <% object.items.each do |item| %>
      <li>
        <%= content_tag(:div, link_to(image_tag(item.image_url.gsub(/\/\d+-\d+\//, '/55-70!/'), size: '55x70'), item.image_url.gsub(/\/\d+-\d+\//, '/')), class: :photo) if item.image_url.present? %>
        <% if item.link %>
          <%= link_to item.person, item.link, :class => 'fio' %>
        <% else %>
          <span class="fio"><%= item.person %></span>
        <% end %>
        <span class='title'><%= item.title %></span>
      </li>
    <% end %>
  </ul>
<% end %>
