app:
  secret:       SECRET

errors:
  url:          http://errors
  key:          KEY

cms:
  url:          http://cms
  site_slug:    SLUG

blue-pages:
  url:          http://blue-pages

storage:
  url:          http://storage
