.content
  .inner
    margin: 0 auto
    padding: 22px 18px
    width: 940px

  h1
    border-bottom: 3px solid #336633
    font-size: 22px
    padding: 0 0 14px 0

  h2
    font-size: 18px
    margin: 14px 0 0 0

  h3
    font-size: 16px
    margin: 14px 0 0 0

  h4
    font-size: 14px
    margin: 14px 0 0 0

  h5
    font-size: 12px
    margin: 14px 0 0 0

  p
    font-size: 13px
    line-height: 20px
    margin: 18px 0 0 0

  blockquote
    margin: 18px 0
