.news_list
  +clearfix
  h2
    font-size: 24px
    margin: 4px 0 22px 0

  ul
    +clearfix

    .last
      margin-right: 0

    li
      +min-height(225px)
      float: left
      margin: 0 60px 20px 0
      width: 265px

      .date
        color: #808080
        font-size: 11px

      h5
        font-size: 14px
        line-height: 18px
        margin: 10px 0 0 0

      .annotation
        +clearfix
        margin: 10px 0 0 0

        p
          font-size: 12px
          line-height: 16px
          margin: 0
