td.right-part {
  padding-right: 40px;
}

td.content-second {
  padding-right: 40px;
}

td.content-second div.block {
  border-right: 1px solid #C2C2C2;
}

#monitoring-widget {
  left: auto;
  right: 0;
  width: 30px;
}

#monitoring-widget .name-title {
  background-color: #8AA865;
}
