<div class='appeal_form'>
  <iframe src='http://appeals.tomsk.gov.ru/' frameborder='0' scrolling='no' class='auto_resize' width='100%'>
    Ваш браузер не поддерживает плавающие фреймы!
  </iframe>
</div>
