<p class='floatr'><%= link_to "<span class='icon'>&nbsp;</span>Скачать #{object.kind.mb_chars.downcase}".html_safe, object.file_url, :class => extension(object.file_url) %></p>
<p>Выпускающий орган: <strong><%= object.authority %></strong></p>
<p>Опубликован: <%= l object.published_on.to_date %></p>
<% content_for :disqus do %>
  <%= render 'commons/disqus' %>
<% end %>
