<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <meta charset='UTF-8'>
    <title>Открытые данные | Администрация Томской области</title>
    <%= stylesheet_link_tag 'manage/application', :media => 'all' %>
    <%= javascript_include_tag 'manage/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Открытые данные Томской области</h1>
    <%= yield %>
  </body>
</html>
